{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="mt-4 p-5 bg-secondary-subtle text-black rounded">
        <h3 class="text-left">
            <ul>
                <li>All Authors of fantasy library are listed here</li>
            </ul>
        </h3>

        {% if authors| length>0 %}
        <ol>
            {% for author in authors %}
            <li>{{ author|capitalize }}</li>
            {% endfor %}
        </ol>
        {% else %}
        <p>It seems like we don't have any author in our library yet. To add author click on Add Author on top link</p>
        {% endif %}
    </div>
</div>
{% endblock %}